.own-message {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
  justify-content: flex-end;
  align-items: center;
}
.own-message:hover .fa-edit {
  display: block;
}
.own-message:hover .fa-trash-alt {
  display: block;
}

.own-message .fa-edit {
  display: none;
  margin-left: 14px;
  cursor: pointer;
}
.own-message .fa-trash-alt {
  display: none;
  margin-left: 10px;
  cursor: pointer;
  color: rgb(247, 96, 96);
}
