.edit-message-modal {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
.modal-shown {
  display: flex;
}
.edit-message-body {
  width: 300px;
  height: 200px;
  background: #17212b;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 40px;
}
.edit-message-input {
  padding: 10px;
  background: none;
  color: white;
  font-size: 16px;
  overflow: hidden;
  resize: none;
  border: 1px solid black;
}
.edit-message-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.edit-message-close {
  background: none;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.edit-message-button {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  background: #5288c1;
  font-size: 14px;
  border: 1px solid #17212b;
  border-radius: 10px;
  margin-left: 10px;
}
