.messages-divider {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  position: relative;
}
.messages-divider-date {
  z-index: 1;
  background: #1d2c3a;
  padding: 5px 10px;
  border-radius: 15px;
}
.messages-divider-line {
  position: absolute;
  height: 1px;
  width: 95%;
  background: #1d2c3a;
  top: 50%;
}
