.message {
  display: flex;
  align-items: flex-end;
  padding: 5px 0px;
}
.message-user-avatar {
  height: 30px;
  border-radius: 15px;
  margin: 0px 10px;
}
.message-body {
  background: #182533;
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 60%;
  display: flex;
  align-items: flex-end;
  position: relative;
  align-items: flex-start;
}
.message-body-my {
  background: #2b5278;
}
.message-user-name {
  margin-bottom: 5px;
  font-weight: bold;
  opacity: 0.5;
}
.message-time {
  margin-left: 20px;
  opacity: 0.3;
}
.message-body .fa-heart {
  position: absolute;
  bottom: 0;
  bottom: 10px;
  right: 15px;
  cursor: pointer;
  opacity: 0.6;
  color: red;
}
